h1 {font-size: 120px;
font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
text-align: center;
color: #ffffff;
}
body {
  background-image: url("backround.png");
  background-size: 51%;
  background-color: 004fe0;
 }

p {font-size: 40px;
font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
color: #ffffff;}

h2 {font-size: 100px;
font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
text-align: center;
color: #ffffff;
}
h3 {font-size: 30px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  text-align: left;
  color: #ffffff;
  }
 h4 {font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    color: #ffffff;
    }
 img {margin-left: 650;}
 li {font-size: 40px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  text-align: center;
  color: #ffffff;}
  tr {
    font-size: 30px;
    color: #ffffff;
    font-family: sans-serif;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .button1 {
    background: red;
    color:white;
    border: 2px solid #ffffff;
    padding: 15px 32px;
   }
   .button2 {
    background: rgb(17, 0, 255);
    color:white;
    border: 2px solid #ffffff;
    padding: 15px 32px;
   }
   .button3 {
    background: rgb(51, 255, 0);
    color:white;
    border: 2px solid #ffffff;
    padding: 15px 32px;
   }