h1 {font-size: 120px;
font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
text-align: center;
color: #004fe0;
}
body {
  background-image: url("backround.png");
  background-size: 51%;
  background-color: 004fe0;
 }

p {font-size: 40px;
font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
color: #004fe0;}

h2 {font-size: 100px;
font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
text-align: center;
color: #004fe0;
}
h3 {font-size: 30px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  text-align: left;
  color: #004fe0;
  }
 h4 {font-size: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
    color: #004fe0;
    }
 img {margin-left: 650;}
 li {font-size: 40px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  text-align: center;
  color: #004fe0;}
  tr {
    font-size: 30px;
    color: #004fe0;
    font-family: sans-serif;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }